* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header {
    background-color: rgb(92, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}


.links {
    display: flex;
    gap: 20px;
}


.links a {
    color: black;
    text-decoration: none;
}


.hero {
    background-color: rgb(48, 1, 1);
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:40px;                            
    padding: 60px 0px;


}


.card {
    width: 250px;
    background-color: rgb(77, 3, 3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.card-img {
    width: 206px;
    height: 97px;
    background-color: rgb(0, 0, 0);
}


footer {
    background-color: rgb(65, 1, 1);
    text-align: center;
    padding: 2opx 0;
}



