*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.linha{
    background-color: #163F92;
    padding: 12px 120px;
    display: flex;
    




}
.links-linha{
    display: flex;
    gap: 20px;






}
.links-linha a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.header{
    padding: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;


}
.links-header{
    display: flex;
    gap: 40px;
}
.links-header a{
    color: black;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
}
.hero{
    width: 100%;
    background-image: url(./assets/background-hero.png);
    height: 30vw;
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
}


p{
    font-size: 16px;
    text-align: center;
    width: 980px;
    margin: 0 auto;
}
.first{
    margin-top: 80px;
    margin-bottom: 40px;
}
.second{
    margin-top: 60px;
    margin-bottom: 60px;


}
.cards{
    max-width:720px ;
    display: flex;
    margin: 0 auto;
    gap: 40px;
    justify-content: center ;
}
.p1{
    font-size: small;
    justify-content: end;
    align-items: center;
    padding: 10px;
}
body{
    background-color: #EAEAEA;
}
.card{
    width: 255px;
    height: 155px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    flex-direction: column;
}
.banner{
    width: 980px;
    height: 400px;
    background-image: url(./assets/background-container.png);
    background-size: cover;
    margin: 80px auto;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.banner h2{
    color: #163F92;
    font-size: 34px;
    width: 354px;


}
.banner p{
    color: #000000;
    font-size: 16px;
    width: 304px;
    text-align: left;
    margin:initial;
}
.banner a{
    background-color: #163F92;;
    width: 360px;
    text-align: center;
    padding: 10px 60px;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    text-decoration: none;
}
.footer{
padding: 40px 120px;
background-color: #D9D9D9;
display: flex;
justify-content: space-between;


}


.socials {
    display: flex;
    justify-content: space-between;
    gap: 40px;


}
.socials a{
    width: 32px;
    height: 32px;
}


.insta{
    background-image: url(./assets/Instagram.png.png);
    background-size: contain;
    background-position: center;
}
.linkedin{
    background-image: url(./assets/falinked.png.png);
    background-size: contain;
    background-position: center;
}
.facebook{
    background-image: url(./assets/facebook.png.png);
    background-repeat: no-repeat;
    background-position: center;
}
.youtube{
    background-image: url(./assets/youtube.png.png);
    background-repeat: no-repeat;
    background-position: center;
}
.titulo{
    color: #163F92;
}